.neonButton {
  @apply bg-neon-blue text-neon-white py-2 px-4 rounded-lg;
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.neonButton:hover {
  @apply bg-neon-yellow;
}