.holographic-card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #ff69b4;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff69b4;
}

.card-header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 40px;
  background-color: #ff69b4;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.card-header h2 {
  font-size: 18px;
  color: #fff;
}

.card-header p {
  font-size: 14px;
  color: #fff;
}

.card-content {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 100%;
  height: 150px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.card-content p {
  font-size: 16px;
  color: #333;
  text-align: justify;
}