.neon-button {
  @apply text-2xl font-bold bg-orange-500 hover:bg-orange-700 text-white rounded-full py-2 px-4;
  transition: background-color 0.2s ease-in-out;
}

.neon-button:hover {
  @apply bg-orange-700;
}